# Autotools
*~
.deps/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
test-driver

# Test suite
*.log
*.trs

# Programs and objects
*.o
check_helper
sipsak
