language: c
os:
  - linux
  - osx
arch:
  - amd64
  - ppc64le
compiler:
  - clang
  - gcc
matrix:
   exclude:
     - os: osx
       compiler: gcc
       arch: ppc64le
     - os: linux
       compiler: clang
       arch: ppc64le
sudo: false
addons:
  apt:
    packages:
      - check
      - libc-ares-dev
  homebrew:
    packages:
      - check
    update: true
install: autoreconf --install
script: 
  - ./configure && make && make check
