language: c
os:
  - linux
arch:
  - amd64
  - ppc64le
  - arm64
compiler:
  - clang
  - gcc
matrix:
  exclude:
    - os: linux
      compiler: clang
      arch: ppc64le
    - os: linux
      compiler: clang
      arch: arm64
  include:
    - os: osx
      osx_image: xcode12.2
sudo: false
addons:
  apt:
    packages:
      - check
      - libc-ares-dev
  homebrew:
    packages:
      - check
    update: true
install: autoreconf --install
script: 
  - ./configure && make && make check
